<!--begin::Header-->
<div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <!--begin::Container-->
    <div class="container-xxl d-flex align-items-center justify-content-between px-0" id="kt_header_container">
        <!--begin::Page title-->
        <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap mt-n5 mt-lg-0 me-lg-2 pb-2 pb-lg-0" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
            <!--begin::Heading-->
            <h1 class="text-dark fw-bolder my-0 fs-2">Listado de Personas</h1>
            <!--end::Heading-->
        </div>
        <!--end::Page title=-->

        <!--begin::Toolbar wrapper-->
        <div class="d-flex flex-shrink-0">

            <!--begin::Chat-->
            <div class="d-flex align-items-center ms-3">
                <!--begin::Menu wrapper-->

                <!--begin::Logo-->

                <!--end::Logo-->
                <span class="pulse-ring"></span>

                <!--end::Menu wrapper-->
            </div>
            <!--end::Chat-->
        </div>
        <!--end::Toolbar wrapper-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->

<div class="row">
    <div class="col-md-4" *ngFor="let person of persons; let i = index">
        <div class="card" style="width: 18rem; margin-top: 10px">
            <img src="{{person.profileImage | noImage}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{person.name}}</h5>
                <p class="card-text">{{person.bio}}</p>

                <a type="button" class="btn btn-danger" (click)="Delete(person)" *ngIf="person">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                      </svg> Eliminar
                </a>
            </div>
        </div>
    </div>
</div>